= form_for @list, :html => { :class => "form-horizontal list" } do |f|
  - if @list.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@list.errors.count, "error")
          prohibited this task from being saved:
      .panel-body
        %ul
          - @list.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'form-control'
    = error_span(@list[:title])
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")),
    lists_path, :class => 'btn btn-default'
