= form_for [@plan, @list], :html => { :class => "form-horizontal list" } do |f|
  - if @list.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@list.errors.count, "error")
          prohibited this task from being saved:
      .panel-body
        %ul
          - @list.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'form-control'
  .control-group
    = f.label :color_tag, class: 'control-label'
    .controls
      = f.select :color_tag, options_for_select(options_for_color, '灰色(Gray)')
  = f.submit '创建任务组', :class => 'btn btn-primary'
  = link_to '取消',
    :back, :class => 'btn btn-default'
