= form_for [@plan, @list, @task], :html => { :class => "form-horizontal task" } do |f|
  - if @task.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@task.errors.count, "error")
          prohibited this task from being saved:
      .panel-body
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, autofocus: 'autofocus', :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")),
    :back, :class => 'btn btn-default'
