%h5
  欢迎来到Taskile 让我们来帮你高效管理和处理任务吧!
%hr
  = link_to '登录', user_session_path
  或
  = link_to '注册', new_user_registration_path
%hr
%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :login
    %br/
    = f.text_field :login, autofocus: true
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in"
= render "devise/shared/links"

%hr
%h2 注册
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :ident
    %br/
    = f.text_field :ident, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"