.form.form-horizontal.plan
  .field
    = text_field_tag :title, nil, class: 'form-control mini-input edit-plan-title', required: true, ':value' => 'plan.title', placeholder: '名称'
  .field
    = text_field_tag :description, nil, class: 'form-control mini-input edit-plan-description', required: true, ':value' => 'plan.description', placeholder: '描述'
  .field
    .color-select-feild
      = collection_radio_buttons :color_tag, nil, options_for_color, :last, :first do |b|
        = b.radio_button({class: 'color-radio selected-radio'})
        = label_tag "color_tag__#{b.value}", '', style: "background-color: #{b.text}", 'v-on:click' => "selectColor('#{b.text}', 'edit')", value: b.value
      .edit-plan-buttons
        %a.cancel{'v-on:click' => 'cancelEdit()'} 取消
        %a.update{'v-on:click' => 'submitEditPlan(plan.ident)'} 更新