- @plan = Plan.new
= form_for @plan, html: { class: "form form-horizontal plan" } do |f|
  .field
    = f.text_field :title, class: 'form-control', required: true, 'v-model' => 'plan.title', placeholder: '名称'
  .field
    = f.text_field :description, class: 'form-control', required: true, 'v-model' => 'plan.description', placeholder: '描述'
  .field
    .color-select-feild
      = f.collection_radio_buttons :color_tag, options_for_color, :last, :first do |b|
        %i.icon-circle{class: 'color-circle', style: "color: #{b.text}", id: "color_tag_#{b.value}", 'v-on:click' => "selectColor(#{b.value})"}
        .hidden
          = b.radio_button({'v-model' => 'plan.color_tag'})
    .add-plan-buttons
      %button.btn.btn-sm.btn-default{ :type => "button", 'v-on:click' => 'cancelPlan()' } 取消
      %button.btn.btn-sm.btn-primary{ :type => "button", 'v-on:click' => 'addPlan()' } 提交