= form_for @plan do |f|
  - if @plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
      %ul
        - @plan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
