- @plan = Plan.new
= form_for @plan, html: { class: "form form-horizontal plan" } do |f|
  - if @plan.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@plan.errors.count, "error")
          prohibited this task from being saved:
      .panel-body
        %ul
          - @plan.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
  .form-group
    = f.label :color_tag, class: 'control-label'
    .controls
      = f.select :color_tag, options_for_select(options_for_color, 'ç°è‰²(Grey)')
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-default'
