%h1 Listing plans

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @plans.each do |plan|
      %tr
        %td= plan.title
        %td= plan.description
        %td= link_to 'Show', plan
        %td= link_to 'Edit', edit_plan_path(plan)
        %td= link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plan', new_plan_path
