.row#plans-list
  - @plans.each do |p|
    .col-md-3
      = link_to p do
        .bs-callout#callout-helper-pull-navbar{class: "#{color_tag_class(p.color_tag)}"}
          %h4
            = p.title
          %p
            = p.description

  .col-md-3
    = link_to new_plan_path, title: '添加一个计划' do
      .bs-callout.bs-callout-add#callout-helper-pull-navbar
        %i.icon-plus.bs-callout-add-icon