.page-header#plan-page-header
  .row
    .col-md-5
      %span.plan_title
        = @plan.title
      %span.plan_description
        = @plan.description
.page-content#plan-page-content
  .row
    - @lists.each do |list|
      .col-md-3
        .panel.panel-gray
          .panel-heading
            = list.title
          .panel-body
            - list.tasks.each do |task|
              %p
                = task.title
            %p
              = link_to '添加任务...', new_plan_list_task_path(@plan, list)
    .col-md-3
      = link_to new_plan_list_path(@plan), title: '添加一个任务组' do
        .plan-list-add
          %i.icon-plus
          添加一个任务组
