.navbar.navbar-default.navbar-static-top#navbar-area
  .container-fluid
    .row
      .navbar-header.col-md-2
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#sign-form", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"} Taskile
      #color_tag_field.col-md-5.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        .navbar-form.navbar-left.color_tag_filed
          %i.icon-circle-blank.reset-icon
          - ['gray','blue','green','red','yellow','qing'].each do |color|
            %i.icon-circle{class:"color-tag-#{color}"}
      #sign-form.col-md-5.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} 帮助
          %li
            %a{:href => "#"} 反馈
          - if user_signed_in?
            %li
              %a{:href => "#"}
                = current_user.email
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.icon-signout
          - else
            %li
              = link_to '登录', user_session_path
            %li
              = link_to '注册', new_user_registration_path
