.navbar.navbar-default.navbar-static-top#navbar-area
  .container-fluid
    .row
      .navbar-header.col-md-2
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#sign-form", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => "/"}
          %i.navbar-logo.taskile.taskile-logopure
        %a.navbar-logoword{:href => "/"}
          = image_tag('logo-word.svg', height: 18)
      - if controller_name == 'plans'
        = render 'layouts/select_tag'
      #sign-form.col-md-3.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} 帮助
          %li
            %a{:href => "#"} 反馈
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path do
                = current_user.ident
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.icon-signout
          - else
            %li
              = link_to '登录', user_session_path
            %li
              = link_to '注册', new_user_registration_path
